Host *
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    HashKnownHosts yes
    IdentityFile ~/.ssh/id_rsa
Host vm1
    HostName <ip>
    User ubuntu
    port 22
Host vm2
    HostName <ip>
    User ubuntu
    port 22
Host vm3
    HostName <ip>
    User ubuntu
    port 22
Host local
    HostName localhost
    User shayan
    port 22
